@model ClientViewModel
@{
}
<h1>Excluir Cliente</h1>

<p>Você está prestes a excluir o cliente "@Model.NameClient". Tem certeza de que deseja continuar?</p>

<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-page="Details" asp-route-id="@Model.Id">Cancelar</a>
</form>

